{% extends 'theme.html' %}



{% block content %}

<h3>Photo Detail</h3>

<p>
    <img class="photo" src="/{{ photo.file }}" alt="Chapter {{ photo.id }}">
</p>
<p>
    CAPTION:
    {% if photo.caption %}
    {{ photo.caption }}
    {% else %}
    No caption
    {% endif%}

</p>
<p>
    FILE PATH: {{ photo.file }}

    
{% for photo in photos %}
            
<a href="/photo/{{ photo.id }}" class="btn bg-success text-light m-5"><photo class="id"></photo></a>
       
{% endfor %}
</p>


{% endblock content %}